<div class="container">
  <div *ngIf="art.id" class="row">
    <h1 class="text-center">{{art.name[language]}}</h1>
    <div class="text-center">
      <ng-container *ngIf="art">
        <img alt="art detail" class="img-fluid text-center" [src]="art.imageUri" [title]="art.name[language]">
      </ng-container>
    </div>
    <span><strong>{{art.hasFake ? 'HAS FAKE' : 'Always original'}}</strong></span>
    <span><strong>{{art.realName}}</strong></span>
    <span><strong>Description:</strong> {{art.museumDesc}}</span>
    <span><strong>Buy price:</strong> {{art.buyPrice}}</span>
    <span><strong>Sell price:</strong> {{art.sellPrice}}</span>
  </div>
</div>
