<div *ngIf="
  (preferencesService.mode$ | async) !== modeTypeEnum.All &&
  (
    (preferencesService.display$ | async) === critterTypeEnum.Bugs ||
    (preferencesService.display$ | async) === critterTypeEnum.Fish ||
    (preferencesService.display$ | async) === critterTypeEnum.Sea
  )
">
  Legend:
  <div class="w-50">
    <table>
      <tbody>
        <tr>
          <ng-container *ngIf="(preferencesService.mode$ | async) !== modeTypeEnum.Collection">
          <td>
            <img alt="default critter" class="img-fluid always-available" src="../../../../assets/images/critter.png">
          </td>
          <td>
            <img alt="default critter" class="img-fluid allYear-available" src="../../../../assets/images/critter.png">
          </td>
          <td>
            <img alt="default critter" class="img-fluid all-day-available" src="../../../../assets/images/critter.png">
          </td>
          <td>
            <img alt="default critter" class="img-fluid available" src="../../../../assets/images/critter.png">
          </td>
          <td>
            <img alt="default critter" class="img-fluid not-now-available" src="../../../../assets/images/critter.png">
          </td>
          <td>
            <img alt="default critter" class="img-fluid not-available" src="../../../../assets/images/critter.png">
          </td>
          </ng-container>
          <ng-container *ngIf="
            (preferencesService.mode$ | async) === modeTypeEnum.Collection ||
            (preferencesService.mode$ | async) === modeTypeEnum.Discovery
          ">
          <td [ngSwitch]="preferencesService.display$ | async">
            <img alt="default bug" *ngSwitchCase="critterTypeEnum.Bugs" class="img-fluid normal" src="../../../../assets/images/default-bug.png">
            <img alt="default fish" *ngSwitchCase="critterTypeEnum.Fish" class="img-fluid normal" src="../../../../assets/images/default-fish.png">
            <img alt="default sea creature" *ngSwitchCase="critterTypeEnum.Sea" class="img-fluid normal" src="../../../../assets/images/default-sea.png">
          </td>
          </ng-container>
        </tr>

        <tr>
          <ng-container *ngIf="(preferencesService.mode$ | async) !== modeTypeEnum.Collection">
          <td class="text-center align-middle">
            Always available
            all year and all day
          </td>
          <td class="text-center align-middle">
            All year available
            but not all day
          </td>
          <td class="text-center align-middle">
            All day available this month
            but not all year
          </td>
          <td class="text-center align-middle">
            Available now
          </td>
          <td class="text-center align-middle">
            Not available now
            but available this month
          </td>
          <td class="text-center align-middle">
            Not available
            this month
          </td>
          </ng-container>

          <ng-container *ngIf="
            (preferencesService.mode$ | async) === modeTypeEnum.Collection ||
            (preferencesService.mode$ | async) === modeTypeEnum.Discovery
          ">
          <td class="text-center align-middle">
            Caught already
          </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
