<div>
  Legend:
  <div class="w-50">
    <table>
      <tbody>
        <tr>
          <ng-container *ngIf="mode !== ModeTypeEnum.Collection">
          <td>
            <img class="img-fluid always-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid allYear-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid all-day-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid not-now-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid not-available" src="assets/images/critter.png">
          </td>
          </ng-container>
          <ng-container *ngIf="[ModeTypeEnum.Collection, ModeTypeEnum.Discovery].indexOf(mode) > -1">
          <td [ngSwitch]="display">
            <img *ngSwitchCase="CritterTypeEnum.Bugs" class="img-fluid normal" src="assets/images/default-bug.png">
            <img *ngSwitchCase="CritterTypeEnum.Fish" class="img-fluid normal" src="assets/images/default-fish.png">
            <img *ngSwitchCase="CritterTypeEnum.Sea" class="img-fluid normal" src="assets/images/default-sea.png">
          </td>
          </ng-container>
        </tr>

        <tr>
          <ng-container *ngIf="mode !== ModeTypeEnum.Collection">
          <td class="text-center align-middle">
            Always available
            all year and all day
          </td>
          <td class="text-center align-middle">
            All year available
            but not all day
          </td>
          <td class="text-center align-middle">
            All day available this month
            but not all year
          </td>
          <td class="text-center align-middle">
            Available now
          </td>
          <td class="text-center align-middle">
            Not available now
            but available this month
          </td>
          <td class="text-center align-middle">
            Not available
            this month
          </td>
          </ng-container>

          <ng-container *ngIf="[ModeTypeEnum.Collection, ModeTypeEnum.Discovery].indexOf(mode) > -1">
          <td class="text-center align-middle">
            Catched already
          </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
</div>
