<div>
  Legend:
  <div class="table-responsive">
    <table class="table w-50">
      <tbody>
        <tr>
          <td>
            <img class="img-fluid always-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid allYear-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid all-day-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid not-now-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid not-available" src="assets/images/critter.png">
          </td>
          <td>
            <img class="img-fluid normal" src="assets/images/default-bug.png">
          </td>
        </tr>

        <tr>
          <td class="text-center align-middle">
            Always available
            all year and all day
          </td>
          <td class="text-center align-middle">
            All year available
            but not all day
          </td>
          <td class="text-center align-middle">
            All day available this month
            by not all year
          </td>
          <td class="text-center align-middle">
            Available now
          </td>
          <td class="text-center align-middle">
            Not available now
            but available this month
          </td>
          <td class="text-center align-middle">
            Not available
            this month
          </td>
          <td class="text-center align-middle">
            Catched already
           </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
