<div class="row align-items-start align-items-center">
  <div class="col-auto">
    <audio id="musicPlayer" [src]="hourlyMusicService.musicUri$ | async" controls loop preload="auto"
           [autoplay]="hourlyMusicService.autoplay$ | async"></audio>
  </div>
  <div class="col-auto">
    <mat-slide-toggle (change)="onAutoplayChange($event)" [checked]="hourlyMusicService.autoplay$ | async">Autoplay
    </mat-slide-toggle>
  </div>
  <div class="col-auto">
    <mat-chip-listbox (change)="onMoodChange($event)" aria-label="Mood">
      <mat-chip-option color="accent" [selected]="(hourlyMusicService.mood$ | async) === 0">Rainy</mat-chip-option>
      <mat-chip-option color="primary" [selected]="(hourlyMusicService.mood$ | async) === 1">Snowy</mat-chip-option>
      <mat-chip-option color="warn" [selected]="(hourlyMusicService.mood$ | async) === 2">Sunny</mat-chip-option>
    </mat-chip-listbox>
  </div>
</div>
