<div class="container">
  <div *ngIf="fossil.id" class="row">
    <h1 class="text-center">{{fossil.name[language]}}</h1>
    <div class="text-center">
      <ng-container *ngIf="fossil">
        <img alt="fossil" class="img-fluid text-center" [src]="fossil.imageUri" [title]="fossil.name[language]">
      </ng-container>
    </div>
    <span><strong>Price:</strong> {{fossil.price}}</span>
    <span><strong>Part of:</strong> {{fossil.partOf | titlecase}}</span>
    <span><strong>Museum phrase:</strong> {{fossil.museumPhrase}}</span>
  </div>
</div>
