
<div class="critters-page">
  <div class="row">
    <app-datetime-display class="row"></app-datetime-display>
  </div>
  <div class="row align-items-start align-items-center">
    <app-language-select class="col-auto"></app-language-select>
    <app-hemisphere-select class="col-auto"></app-hemisphere-select>
    <app-hourly-music class="col-auto"></app-hourly-music>
  </div>
  <div class="row">
    <app-toggle-controls class="row-auto"></app-toggle-controls>
  </div>
  <div class="row">
    <app-critter-display></app-critter-display>
  </div>
  <div class="row">
    <app-critter-legend></app-critter-legend>
  </div>
</div>
