<div *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Bugs">
  Bugs: {{ critterService.bugsAmount | async }} / {{ (critterService.bugs$ | async)?.length }}
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr *ngFor="let fiveBugs of critterService.bugsGrid$ | async">
        <td class="critter-name text-center align-middle" *ngFor="let bug of fiveBugs"
            (click)="selectCritter(bug, critterTypeEnum.Bugs)">
          <app-critter-discovery [critter]="bug" [critterType]="critterTypeEnum.Bugs"></app-critter-discovery>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Fish">
  Fish: {{ critterService.fishAmount | async }} / {{ (critterService.fish$ | async)?.length }}
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr *ngFor="let fiveFish of critterService.fishGrid$ | async">
        <td class="critter-name text-center align-middle" *ngFor="let fish of fiveFish"
            (click)="selectCritter(fish, critterTypeEnum.Fish)">
          <app-critter-discovery [critter]="fish" [critterType]="critterTypeEnum.Fish"></app-critter-discovery>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Sea">
  Sea Creatures: {{ critterService.seaAmount | async }} / {{ (critterService.sea$ | async)?.length }}
  <div class="table-responsive">
    <table class="table w-50">
      <tbody>
      <tr *ngFor="let fiveSea of critterService.seaGrid$ | async">
        <td class="critter-name text-center align-middle" *ngFor="let sea of fiveSea"
            (click)="selectCritter(sea, critterTypeEnum.Sea)">
          <app-critter-discovery [critter]="sea" [critterType]="critterTypeEnum.Sea"></app-critter-discovery>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container-fluid" *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Fossils">
  Fossils: {{ critterService.fossilsAmount | async }} / {{ (critterService.fossils$ | async)?.length }}
  <div class="row row-cols-auto">
    <div *ngFor="let fossil of critterService.fossilsGrid$ | async"
         style="cursor: pointer"
         (click)="selectCritter(fossil, critterTypeEnum.Fossils)">
      <app-fossil [fossil]="fossil"></app-fossil>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Art">
  Art: {{ critterService.artAmount | async }} / {{ (critterService.art$ | async)?.length }}
  <div class="row row-cols-auto">
    <div *ngFor="let art of critterService.artsGrid$ | async"
         style="cursor: pointer"
         (click)="selectCritter(art, critterTypeEnum.Art)">
      <app-art [art]="art"></app-art>
    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="(preferencesService.display$ | async) === critterTypeEnum.Songs">
  Songs: {{ critterService.songsAmount | async }} / {{ (critterService.songs$ | async)?.length }}
  <div class="row row-cols-auto">
    <div style="border: 1px solid black !important; cursor: pointer"
         class="col pb-3 pt-3"
         *ngFor="let song of critterService.songsGrid$ | async"
         [class.animal-crossing]="song.genre === 'Animal Crossing'"
         [class.classic]="song.genre === 'Classic'"
         [class.dance-electro]="song.genre === 'Dance & Electro Music'"
         [class.japanese-music]="song.genre === 'Japanese Music'"
         [class.jazz-fusion]="song.genre === 'Jazz & Fusion'"
         [class.rock-pops]="song.genre === 'Rock & Pops'"
         [class.soul-music]="song.genre === 'Soul Music'"
         [class.soundtrack]="song.genre === 'Soundtrack'"
         [class.world-music]="song.genre === 'World Music'"
         [class.orderable]="song && !song.isOrderable"
         (click)="selectCritter(song, critterTypeEnum.Songs)">
      <app-song [song]="song"></app-song>
    </div>
  </div>
</div>

<div *ngIf="(preferencesService.display$ | async) === critterTypeEnum.BugModels">
  Bug models: {{ critterService.bugModelsAmount | async }} / {{ (critterService.bugModels$ | async)?.length }}
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr *ngFor="let fiveBugModels of critterService.bugModelsGrid$ | async">
        <td class="model-name text-center align-middle" *ngFor="let bugModel of fiveBugModels"
            (click)="selectCritter(bugModel, critterTypeEnum.BugModels)">
          <app-model [model]="bugModel"></app-model>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="(preferencesService.display$ | async) === critterTypeEnum.FishModels">
  Fish: {{ critterService.fishModelsAmount | async }} / {{ (critterService.fishModels$ | async)?.length }}
  <div class="table-responsive">
    <table class="table">
      <tbody>
      <tr *ngFor="let fiveFishModels of critterService.fishModelsGrid$ | async">
        <td class="model-name text-center align-middle" *ngFor="let fishModel of fiveFishModels"
            (click)="selectCritter(fishModel, critterTypeEnum.FishModels)">
          <app-model [model]="fishModel"></app-model>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div
  class="modal fade"
  id="myModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <app-critter-detail></app-critter-detail>
        <app-art-detail></app-art-detail>
        <app-fossil-detail></app-fossil-detail>
        <app-song-detail></app-song-detail>
        <app-model-detail></app-model-detail>
      </div>
    </div>
  </div>
</div>
